.auth-container {
  display: flex;
  justify-content: center;
}

.auth-card {
  display: flex;
  flex-direction: column;
  gap: 15px;
  padding: 50px 50px;
  margin-top: 80px;
  background-color: rgb(241, 241, 241);

  border-radius: 5px;
}

.auth-title {
  font-family: Arial;
  font-size: 20px;
  color: teal;
}

.input-form {
  outline: none;
  width: 250px;
  height: 30px;
  border: none;
  padding: 0px 10px;
}

.auth-form::placeholder {
  font-size: 12px;
  padding-left: 5px;
}

.auth-button {
  background-color: teal;
  color: white;
  border: none;
  padding: 8px 10px;
  outline: none;
  cursor: pointer;
}

.link-to {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 3px;
}

.link {
  color: teal;
  text-decoration: none;
  margin-left: 3px;
  font-size: 15px;
}
